<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.diagnostics>
    <sources>
      <source name="Angara.Graph" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <!--<add name="ConsoleOut">
            <filter type="" />
          </add>-->
        </listeners>
      </source>
      <source name="Angara.Runtime" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <!--<add name="ConsoleOut">
            <filter type="" />
          </add>-->
        </listeners>
      </source>
      <source name="Angara.StateMachine" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <!--<add name="ConsoleOut">
            <filter type="" />
          </add>-->
        </listeners>
      </source>      
    </sources>
    <sharedListeners>
      <add type="System.Diagnostics.ConsoleTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ConsoleOut" traceOutputOptions="None">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>